.wrapper.admin.appointments
  .container
    = render 'layouts/messages'

    %h2= t('admin.appointments.index.header')

    %table
      %thead
        %tr
          %td= t('admin.appointments.index.client')
          %td= t('admin.appointments.index.email')
          %td= t('admin.appointments.index.phone_number')
          %td= t('admin.appointments.index.doctor')
          %td= t('admin.appointments.index.clinical_trial')
          %td= t('admin.appointments.index.when')
          %td= t('admin.appointments.index.created_at')
          %td= t('admin.appointments.index.message')
      %tbody
        - @appointments.each do |appointment|
          %tr
            %td= appointment.name
            %td= appointment.email
            %td= appointment.phone_number
            %td= appointment.doctor_name
            %td= appointment.clinical_trial_condition
            %td= appointment.when
            %td= appointment.created_at
            %td= readmore(appointment.message, max_length: 100)
