.wrapper.admin.appointments
  = render 'layouts/messages'

  .container
    %h2 Appointments

    %table
      %thead
        %tr
          %td= 'Client'
          %td= 'Email'
          %td= 'Phone number'
          %td= 'Doctor'
          %td= 'When'
          %td= 'Message'
          %td= 'Created At'
      %tbody
        - @appointments.each do |appointment|
          %tr
            %td= appointment.name
            %td= appointment.email
            %td= appointment.phone_number
            %td= appointment.doctor.full_name
            %td= appointment.when
            %td= appointment.message
            %td= time_ago_in_words(appointment.created_at)
