.wrapper.admin.admins
  .container
    = render 'layouts/messages'

    %h2= t('admin.passwords.edit.header')

    = simple_form_for current_admin, :url => admin_password_path(locale), :method => :put do |f|
      = f.input :password, :as => :password
      = f.input :password_confirmation, :as => :password
      = render 'admin/actions', :url => :back
