.wrapper.admin.admins
  = render 'layouts/messages'

  .container
    %h2= t('admin.passwords.edit.header')

    = simple_form_for current_admin, :url => admin_password_path(locale), :method => :put do |f|
      = f.input :password, :as => :password
      = f.input :password_confirmation, :as => :password

      .actions
        = button_tag :class => 'button' do
          = icon('floppy-o')
        = link_to admin_root_path(locale), :class => 'button cancel' do
          = icon('trash-o')
