= simple_form_for @clinical_trial, :url => url, :method => method do |f|
  = f.input :condition_pl
  = f.input :condition_en
  = f.input :description_pl, :as => :text
  = f.input :description_en, :as => :text
  = render 'admin/actions', :url => admin_clinical_trials_path(locale)
