.wrapper.admin.clinical-trials
  = render 'layouts/messages'

  .container
    .new-model
      %h2= t('admin.clinical_trials.index.header')
      = link_to t('admin.clinical_trials.index.new'), new_admin_clinical_trial_path(locale), :class => 'button'

    %table
      %thead
        %tr
          %td= t('admin.clinical_trials.index.condition')
          %td= t('admin.clinical_trials.index.description_pl')
          %td= t('admin.clinical_trials.index.description_en')
          %td= t('admin.delete')
      %tbody
        - @clinical_trials.each do |clinical_trial|
          %tr
            %td= clinical_trial.condition
            %td= clinical_trial.description_pl
            %td= clinical_trial.description_en
            %td.action
              = link_to admin_clinical_trial_path(locale, clinical_trial), :method => :delete do
                = icon('trash-o')
