= simple_form_for @doctor, :url => url, :method => method do |f|
  = f.input :name_pl
  = f.input :name_en
  = f.input :specialty_pl
  = f.input :specialty_en
  = f.input :biography_pl, :as => :text
  = f.input :biography_en, :as => :text
  = render 'admin/actions', :url => admin_doctors_path(locale)
