= simple_form_for @doctor, :url => url, :method => method do |f|
  = f.input :title
  = f.input :first_name
  = f.input :last_name
  = f.input :specialty, :collection => I18n.t('models.doctor.specialty'), :value_method => :first, :label_method => :last
  = f.input :biography_pl, :as => :text
  = f.input :biography_en, :as => :text
  = render 'admin/actions', :url => admin_doctors_path(locale)
