.wrapper.admin.doctors
  = render 'layouts/messages'

  .container
    .new-model
      %h2 Doctors
      = link_to 'New Doctor', new_admin_doctor_path(locale), :class => 'button'

    %table
      %thead
        %tr
          %td= 'Name'
          %td= 'Specialty'
          %td= 'Biography in Polish'
          %td= 'Biography in English'
          %td= 'Edit'
      %tbody
        - @doctors.each do |doctor|
          %tr
            %td= doctor.full_title
            %td= doctor.specialty_name
            %td= doctor.biography_pl
            %td= doctor.biography_en
            %td.action
              = link_to edit_admin_doctor_path(locale, doctor) do
                = icon('pencil')
