.wrapper.admin.doctors
  = render 'layouts/messages'

  .container
    .new-model
      %h2= t('admin.doctors.index.header')
      = link_to t('admin.doctors.index.add'), new_admin_doctor_path(locale), :class => 'button'

    %table
      %thead
        %tr
          %td= t('admin.doctors.index.name')
          %td= t('admin.doctors.index.specialty_pl')
          %td= t('admin.doctors.index.specialty_en')
          %td= t('admin.doctors.index.biography_en')
          %td= t('admin.doctors.index.biography_pl')
          %td= t('admin.edit')
      %tbody
        - @doctors.each do |doctor|
          %tr
            %td= doctor.name
            %td= doctor.specialty_pl
            %td= doctor.specialty_en
            %td= doctor.biography_pl
            %td= doctor.biography_en
            %td.action
              = link_to edit_admin_doctor_path(locale, doctor) do
                = icon('pencil')
