.admin.appointments
  %h1 Appointments

  %table
    %thead
      %tr
        %td= 'Client'
        %td= 'Email'
        %td= 'Phone number'
        %td= 'Doctor'
        %td= 'Message'
    %tbody
      - @appointments.each do |appointment|
        %tr
          %td= appointment.full_name
          %td= appointment.email
          %td= appointment.phone_number
          %td= appointment.doctor.full_name
          %td= appointment.message
