.wrapper.admin.doctors
  = render 'layouts/messages'

  .container
    %h1 Doctors
    = link_to 'Add Doctor', admin_doctors_new_path(locale), :class => 'button'

    %table
      %thead
        %tr
          %td= 'Name'
          %td= 'Specialty'
          %td= 'Biography in Polish'
          %td= 'Biography in English'
      %tbody
        - @doctors.each do |doctor|
          %tr
            %td= doctor.full_name
            %td= doctor.specialty_name
            %td= doctor.biography_pl
            %td= doctor.biography_en
