.wrapper.admin.doctors
  = render 'layouts/messages'

  .container
    %h1 Add Doctor

    = simple_form_for @doctor, :url => admin_doctors_path(locale), :method => :post do |f|
      = f.input :first_name
      = f.input :last_name
      = f.input :specialty
      = f.input :biography_en, :as => :text
      = f.input :biography_pl, :as => :text

      .actions
        = link_to admin_doctors_path(locale), :class => 'button' do
          %i.fa.fa-trash-o
        = button_tag :class => 'button' do
          %i.fa.fa-floppy-o
