.wrapper.home.about-us
  .container
    = render 'layouts/messages'

    %h1= t('defaults.name')
    - t('views.about_us.sections').each do |key, section|
      %p= section
    .section= icon('chevron-right', t('defaults.phone_number'))
    .section
      = icon('chevron-right')
      = mail_to t('defaults.email')
