.wrapper.home.about-us
  .container
    = render 'layouts/messages'

    %h1= t('defaults.name')
    %p= t('views.about_us.paragraph1')
    %p= t('views.about_us.paragraph2')
    %p= t('views.about_us.paragraph3')
    %p= t('views.about_us.paragraph4')
    %p= t('views.about_us.paragraph5')
    .section
      = icon('chevron-right')
      = t('defaults.clinical_trials_number_1')
    .section
      = icon('chevron-right')
      = t('defaults.clinical_trials_number_2')
    .section
      = icon('chevron-right')
      = mail_to t('defaults.email')
