.wrapper.home.clinical-research
  .container
    = render 'layouts/messages'

    %h1= t('views.header.clinical_research')
    .information
      %p= t('views.clinical_research.information.offer')

      .clinical-contact
        = t('views.clinical_research.information.participate')
        .section
          = icon('chevron-right')
          = t('defaults.clinical_trials_number_1')
        .section
          = icon('chevron-right')
          = t('defaults.clinical_trials_number_2')
        .section
          = icon('chevron-right')
          = mail_to t('defaults.email')

    .why-participate
      %h3= t('views.clinical_research.participate.header')
      .section
        = icon('chevron-right')
        = t('views.clinical_research.participate.section1')
      .section
        = icon('chevron-right')
        = t('views.clinical_research.participate.section2')
      .section
        = icon('chevron-right')
        = t('views.clinical_research.participate.section3')
      .section
        = icon('chevron-right')
        = t('views.clinical_research.participate.section4')

    .current-trials
      %h3= t('views.clinical_research.current.header')
      %p= t('views.clinical_research.current.offered')
      .clinical-trials
        - @clinical_trials.each do |clinical_trial|
          .clinical-trial
            .condition
              = icon('chevron-right')
              = clinical_trial.condition(locale: locale)
            .description= readmore(clinical_trial.description(locale: locale))
            .clearfix
