.wrapper.home.contact-us
  .container
    = render 'layouts/messages'

    %h1= t('views.header.contact_us')
    .information
      .address
        %h3= t('views.contact_us.address.header')
        .section= t('defaults.name')
        .section= t('defaults.tagline')
        .section= t('defaults.address')
        .section= t('defaults.city')
        .section= t('defaults.place')
        .section
          = t('views.contact_us.address.nip')
          = t('defaults.nip')
        .section
          = t('views.contact_us.address.regon')
          = t('defaults.regon')
      .contact
        %h3= t('views.contact_us.contact.header')
        .section
          = t('views.contact_us.contact.phone_number')
          = t('defaults.phone_number')
        .section
          = t('views.contact_us.contact.fax_number')
          = t('defaults.fax_number')
        .section
          = t('views.contact_us.contact.email')
          = mail_to t('defaults.email')
        .section
          = t('views.contact_us.contact.hours_weekday')
          = t('defaults.hours_weekday')
        .section
          = t('views.contact_us.contact.hours_weekend')
          = t('defaults.hours_weekend')

    .directions
      .google-map
        %iframe{ src: t('defaults.map_url'), width: '400', height: '400', frameborder: '0' }
