.wrapper.home.contact-us
  .container
    = render 'layouts/messages'

    %h1= t('views.header.contact_us')
    .information
      .address
        %h3= t('views.contact_us.address.header')
        .section= t('defaults.name')
        .section= t('defaults.tagline')
        .section= t('defaults.address')
        .section= t('defaults.city')
        .section= t('defaults.place')
        .section
          = t('views.contact_us.address.nip')
          = t('defaults.nip')
        .section
          = t('views.contact_us.address.regon')
          = t('defaults.regon')
      .contact
        %h3= t('views.contact_us.contact.header')
        .section
          = t('views.contact_us.contact.phone_number')
          = t('defaults.phone_number')
        .section
          = t('views.contact_us.contact.fax_number')
          = t('defaults.fax_number')
        .section
          = t('views.contact_us.contact.email')
          = mail_to t('defaults.email')
        .section
          = t('views.contact_us.contact.hours_weekday')
          = t('defaults.hours_weekday')
        .section
          = t('views.contact_us.contact.hours_weekend')
          = t('defaults.hours_weekend')

    .directions
      .google-map
        %iframe{ src: 'https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2559.852277939664!2d19.93540068690309!3d50.08905256057913!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165a59e37adb99%3A0xe592550f17189d44!2sDiamond+Clinic!5e0!3m2!1sen!2s!4v1413299603894',
                 width: '400', height: '400', frameborder: '0' }
