.home.contact-us
  .address
    %p DIAMOND CLINIC
    %p Specjalistyczne Poradnie Lekarskie
    %p 31-209 Kraków, ul. gen. Augusta Fieldorfa-Nila 14/JU2

  .appointment
    %p Rejestracja Tel. +48 122651165, Kom. +48 571241412

  .hours
    %p Przychodnia czynna: od pon-pt 9:00 do 21:00, sob 9:00 do 15:00

  .fax
    %p Fax. +48 126371533

  .email
    %p Email: biuro@diamondclinic.eu

  .tax-info
    %p NIP 678-292-45-94
    %p Regon 120413380

  .appointment
    %p Request an Appointment
    = simple_form_for @appointment, :url => contact_us_path(locale), :method => :post do |f|
      = f.input :first_name
      = f.input :last_name
      = f.input :email
      = f.input :phone_number
      = f.input :doctor_id, :collection => @doctors, :value_method => :id, :label_method => :full_name
      = f.input :message, :as => :text
      = f.submit 'Send Request'

  .google-map
    %iframe{ :src => 'https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10245.35099341215!2d19.936241142902205!3d50.06123607529375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1407270488369',
             :width => '200', :height => '200', :frameborder => '0' }

  .mass-transit
    %p tramwajami: 3, 5, 18, 50.
    %p autobusami: 102, 118, 120, 137, 138, 168, 194, 207, 217, 220, 227, 237, 240, 247, 267, 287, 297.
    %p do przystanku Krowodrza Górka.
