.wrapper.home.our-doctors
  = render 'layouts/messages'

  .container
    %h1= t('views.header.nav.our_doctors')

    .doctors
      - @doctors.each do |doctor|
        .doctor
          .photo= icon('user')
          .information
            .name
              = icon('chevron-right')
              = doctor.full_title
            .specialty= doctor.specialty_name
            .biography= doctor.biography(locale)
          .clearfix
