.wrapper.home.our-doctors
  = render 'layouts/messages'

  .container
    %h1= t('views.header.our_doctors')

    .doctors
      - @doctors.each do |doctor|
        .doctor
          .photo= icon('user-md')
          .information
            .name
              = icon('chevron-right')
              = doctor.full_title
            .specialty= doctor.specialty_name
            .biography= simple_format(doctor.biography(:locale => locale))
          .clearfix
