.wrapper.home.our-services
  .container
    = render 'layouts/messages'

    %h1= t('views.header.our_services')
    .consultations
      %h3= t('views.our_services.consultations.header')
      - t('views.our_services.consultations.specialists').each do |key, specialist|
        .section= icon('chevron-right', specialist)

    .diagnostics
      %h3= t('views.our_services.diagnostics.header')
      - t('views.our_services.diagnostics.tests').each do |key, test|
        .section= icon('chevron-right', test)

    .treatments
      %h3= t('views.our_services.treatments.header')
      - t('views.our_services.treatments.types').each do |key, type|
        .section= icon('chevron-right', type)
