.wrapper.home.our-doctors
  .container
    = render 'layouts/messages'

    %h1= t('views.header.our_doctors')
    .doctors
      - @doctors.each do |doctor|
        .doctor
          .main-info
            .photo
              - if doctor.photo?
                = image_tag photo_doctor_path(locale, doctor)
              - else
                = icon('user-md')
            .name
              = icon('chevron-right')
              = doctor.name(:locale => locale)
            .specialty= doctor.specialty(:locale => locale)
            .clearfix
          .biography= simple_format(doctor.biography(:locale => locale))
          .clearfix
