.wrapper.admin.admins
  .container
    = render 'layouts/messages'

    %h2= t('admin.admins.edit.header')
    = simple_form_for admin, url: admin_admin_path(locale, admin), method: :put do |f|
      = f.input :password, as: :password
      = f.input :password_confirmation, as: :password
      = render 'admin/actions', url: admin_admins_path(locale)
