.wrapper.admin.admins
  .container
    = render 'layouts/messages'

    .new-model
      %h2= t('admin.admins.index.header')
      = link_to t('admin.admins.index.add'), new_admin_admin_path(locale), class: 'button'

    %table
      %thead
        %tr
          %td= t('admin.admins.index.email')
          %td= t('admin.actions')
      %tbody
        - admins.each do |admin|
          %tr
            %td= admin.email
            %td.action
              = link_to admin_admin_path(locale, admin), method: :delete, data: { confirm: t('admin.confirm') } do
                = icon('trash-o')
