.wrapper.admin.admins
  = render 'layouts/messages'

  .container
    .new-model
      %h2 Admins
      = link_to 'New Admin', new_admin_admin_path(locale), :class => 'button'

    %table
      %thead
        %tr
          %td= 'Email'
          %td= 'Sign In Count'
          %td= 'Current Sign In At'
          %td= 'Current Sign In IP'
          %td= 'Last Sign In At'
          %td= 'Last Sign In IP'
          %td= 'Delete'
      %tbody
        - @admins.each do |admin|
          %tr
            %td= admin.email
            %td= admin.sign_in_count
            %td= admin.current_sign_in_at
            %td= admin.current_sign_in_ip
            %td= admin.last_sign_in_at
            %td= admin.last_sign_in_ip
            %td.action
              = link_to admin_admin_path(locale, admin), :method => :delete do
                %i.fa.fa-trash-o
