.wrapper.admin.admins
  = render 'layouts/messages'

  .container
    .new-model
      %h2= t('admin.admins.index.header')
      = link_to t('admin.admins.index.add'), new_admin_admin_path(locale), :class => 'button'

    %table
      %thead
        %tr
          %td= t('admin.admins.index.email')
          %td= t('admin.admins.index.sign_in_count')
          %td= t('admin.admins.index.current_sign_in_at')
          %td= t('admin.admins.index.current_sign_in_ip')
          %td= t('admin.admins.index.last_sign_in_at')
          %td= t('admin.admins.index.last_sign_in_ip')
          %td= t('admin.actions')
      %tbody
        - @admins.each do |admin|
          %tr
            %td= admin.email
            %td= admin.sign_in_count
            %td= admin.current_sign_in_at
            %td= admin.current_sign_in_ip
            %td= admin.last_sign_in_at
            %td= admin.last_sign_in_ip
            %td.action
              = link_to admin_admin_path(locale, admin), :method => :delete, :data => { :confirm => t('admin.confirm') } do
                = icon('trash-o')
