.wrapper.admin.admins
  = render 'layouts/messages'

  .container
    %h2 Add Admin

    = simple_form_for @admin, :url => admin_admins_path(locale), :method => :post do |f|
      = f.input :email
      = f.input :password, :as => :password
      = f.input :password_confirmation, :as => :password

      .actions
        = button_tag :class => 'button' do
          %i.fa.fa-floppy-o
        = link_to admin_admins_path(locale), :class => 'button cancel' do
          %i.fa.fa-trash-o
