.wrapper.admin.admins
  = render 'layouts/messages'

  .container
    %h2= t('admin.admins.new.header')

    = simple_form_for @admin, :url => admin_admins_path(locale), :method => :post do |f|
      = f.input :email
      = f.input :password, :as => :password
      = f.input :password_confirmation, :as => :password

      .actions
        = button_tag :class => 'button' do
          = icon('floppy-o')
        = link_to admin_admins_path(locale), :class => 'button cancel' do
          = icon('trash-o')
