%h2= "Appointment request"

%p= "Name: #{@appointment.name}"
%p= "Phone Number: #{@appointment.phone_number}"
%p= "Doctor: #{@appointment.doctor.full_title_with_specialty}"
%p= "When: #{@appointment.when}"
%p= simple_format @appointment.message
