%footer
  .left.address
    %p= t('defaults.address')
    %p= t('defaults.city')
    %p= mail_to t('defaults.email')
  .center
    .logo= image_tag 'diamondclinic_logo.png'
    .copyright
      = "#{t('defaults.name')} © #{Date.today.year}"
    .developer
      = t('views.footer.made_by')
      = link_to 'Phillip Boksz', 'http://www.phillipboksz.com', target: '_blank'
  .right.hours
    %p
      = t('views.footer.hours_weekday')
      = t('defaults.hours_weekday')
    %p
      = t('views.footer.hours_weekend')
      = t('defaults.hours_weekend')
    %p= t('defaults.mobile_number')
