%header{ :role => 'banner' }
  %h1.logo
    = link_to '', root_path

  %nav
    = link_to 'Home', root_path
    = link_to 'Our Doctors', root_path
    = link_to 'About Us', root_path
    = link_to 'Contact Us', root_path
