%header{ :role => 'banner' }
  .left
    .logo
      = link_to root_path(locale) do
        = image_tag 'diamondclinic_logo.png'

  .center
    .nav
      - if controller_path.include?('admin')
        = link_to t('admin.header.appointments'), admin_appointments_path(locale)
        = link_to t('admin.header.doctors'), admin_doctors_path(locale)
        = link_to t('admin.header.clinical_trials'), admin_clinical_trials_path(locale)
        = link_to t('admin.header.admins'), admin_admins_path(locale)
        = link_to t('admin.header.password'), edit_admin_password_path(locale)
        = link_to t('admin.header.logout'), destroy_admin_session_path(locale), :method => :delete
      - else
        = link_to t('views.header.about_us'), about_us_path(locale)
        = link_to t('views.header.our_doctors'), our_doctors_path(locale)
        = link_to t('views.header.our_services'), our_services_path(locale)
        = link_to t('views.header.clinical_research'), clinical_research_path(locale)
        = link_to t('views.header.contact_us'), contact_us_path(locale)

  .right
    .locale= render 'layouts/locale'
