%header{ :role => 'banner' }
  .left
    .logo
      = link_to root_path(locale) do
        = image_tag 'diamondclinic_logo.png'

  .center
    .nav
      - if controller_path.include?('admin')
        = link_to 'Appointments', admin_appointments_path(locale)
        = link_to 'Admins', admin_admins_path(locale)
        = link_to 'Doctors', admin_doctors_path(locale)
        = link_to 'Logout', destroy_admin_session_path(locale), :method => :delete
      - else
        = link_to 'About Us', about_us_path(locale)
        = link_to 'Our Doctors', our_doctors_path(locale)
        = link_to 'Services', services_path(locale)
        = link_to 'Clinical Research', clinical_research_path(locale)
        = link_to 'Contact Us', contact_us_path(locale)

  .right
    .locale= render 'layouts/locale'
