!!!
%html
  %head
    %title= "#{t('defaults.name')} | #{t('defaults.tagline')}"
    %meta{ name: :description, content: t('defaults.description') }
    %meta{ name: :keywords, content: t('defaults.keywords') }
    %link{ rel: :alternate, href: root_url(locale: :en), hreflang: :en }
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render 'layouts/header'
    = yield
    = render 'layouts/footer'
